.ant-menu.ant-menu-dark .ant-menu-item-selected {
  background-color: #001529 !important;
}
.active {
  background-color: #001529;
  font-weight: bold;
}
.bg-white {
  background-color: #fff;
}
.btn {
  border: none;
  margin: 10px;
  padding: 10px 20px;
}

.btn-primary {
  background-color: #001529;
  color: #eff2f5;
}
.btn-outline {
  background-color: #eff2f5;
  border: solid 1px #001529;
  color: #001529;
}

.comment-list {
  background-color: white;
  margin: 50px auto;
  width: 100%;
}

.margin-sm {
  margin: 10px;
}

.skeleton {
  padding: 10px;
}

.skeleton-loading {
  margin: 50px auto;
  width: 100%;
}

@media only screen and (min-width: 800px) {
  .comment-list {
    margin: 20px auto;
    background-color: white;
    width: 60%;
  }

  .flex-layout {
    display: flex;
    justify-content: center;
  }
  .skeleton-loading {
    margin: 50px auto;
    width: 60%;
  }
  .skeleton {
    padding: 50px;
  }
}
