.add-form {
  display: flex;
  flex-direction: column;
}

.ant-menu.ant-menu-dark .ant-menu-item-selected {
  background-color: #001529 !important;
}
.active {
  background-color: #001529;
  font-weight: bold;
}
.bg-white {
  background-color: #fff;
}
.btn {
  border: none;
  margin: 10px 0;
  padding: 10px 20px;
}

.btn-primary {
  background-color: #001529;
  color: #eff2f5;
}

.btn-primary:hover {
  background-color: #5292d2;
  color: #fff;
  cursor: pointer;
}

.btn-outline {
  background-color: #fff;
  border: solid 1px #001529;
  color: #001529;
  width: 100%;
}

.btn-outline:hover {
  background-color: #ac3333;
  border: solid 1px #ac3333;
  color: #fff;
  cursor: pointer;
}

.comment-list {
  background-color: white;
  margin: 50px auto;
  width: 100%;
}

.margin-sm {
  margin: 10px;
}

.radio-org-label {
  font-size: 30px;
}

.select-organization {
  margin: 20px;
}

.skeleton {
  padding: 10px;
}

.skeleton-loading {
  margin: 50px auto;
  width: 100%;
}

.text-center {
  text-align: center;
}

@media only screen and (min-width: 800px) {
  .btn-outline {
    width: auto;
  }

  .comment-list {
    margin: 20px auto;
    background-color: white;
    width: 60%;
  }

  .flex-layout {
    display: flex;
    justify-content: center;
  }
  .skeleton-loading {
    margin: 50px auto;
    width: 60%;
  }

  .skeleton {
    padding: 50px;
  }
}
